@{
  Layout="Shared/_Layout.cshtml";
}
<div class="container">
  <h1>Sandy Hair Salon</h1>
  <div class="col-sm-6">
    @if (Model["stylists"].Count == 0)
    {
      <p>No stylists are in the system yet!</p>
    }
    else
    {
      <ul>
      @foreach (var stylist in Model["stylists"])
      {
        <li><a href="/stylists/@stylist.GetId()"</a> @stylist.GetName()</li>
      }
      </ul>
    }
    <a href="/stylists/new"><button class="btn btn-success">New Stylist</button></a>
        @if (Model["stylists"].Count > 0)
        {
          <a href="/clients/new"><button class="btn btn-success">New Client</button></a>
        }
  </div>
</div>
