@{
  Layout="Shared/_Layout.cshtml";
}
<h2>@Model["stylist"].GetName()</h2>
    @if (Model["clients"].Count == 0)
    {
      <p>This stylist doesn't have any clients yet!</p>
    }
    else
    {
      <ul>
      @foreach (var client in Model["clients"])
      {
        <li>@client.GetName() <a href="/clients/edit/@client.GetId()">Edit</a> <a href="/clients/delete/@client.GetId()">Delete</a></li>
      }
      </ul>
    }
<a href="/"><button class="btn btn-success">Home</button></a>
<a href="/stylists/edit/@Model["stylist"].GetId()"><button class="btn btn-success">Edit Stylist</button></a> <a href="/stylists/delete/@Model["stylist"].GetId()"><button class="btn btn-danger">Delete</button></a>