@{
  Layout="Shared/_Layout.cshtml";
}
<h2>@Model["stylist"].GetName()</h2>
    @if (Model["clients"].Count == 0)
    {
      <p>This stylist doesn't have any clients yet!</p>
    }
    else
    {
      <ul>
      @foreach (var client in Model["clients"])
      {
        <li>@client.GetName() <a href="/clients/edit/@client.GetId()">Edit</a></li>
      }
      </ul>
    }
<a href="/">Home</a>
<a href="/stylists/edit/@Model["stylist"].GetId()">Edit Stylist</a>